.categories-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 64px;
}

.categories-cards a.card {
  width: 312px;
  height: 220px;
  text-align: center;
  color: var(--text-primary-color);
  text-decoration: none;
  box-sizing: border-box;
  padding: 24px;
  background-color: var(--background-secondary-color);
  border-radius: 16px;
}

.categories-cards .card h3 {
  font-weight: var(--title-weight);
  font-size: 28px;
}

.categories-cards .card .single-line {
  padding-top: 50px;
}

.categories-cards .card.single-line.transfer img {
  margin: 10px 0 20px;
}

@media screen and (min-width: 768px) {
  .categories-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .categories .section-title {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .categories-cards .card {
    width: 430px;
  }
}

@media screen and (min-width: 1440px) {
  .categories-cards .card {
    width: 280px;
  }
}
