.hero .hero-img {
  height: 400px;
  width: 100%;
}

.bottom-hero{
  width: 100%;
}

.hero .hero-img {
  background: url(../img/hero-mobile.jpg) no-repeat;
  background-size: cover;
}

.bottom-hero .footer-hero {
  height: 400px;
  background: url(../img/image-rodape-mobile.jpg) no-repeat;
  background-size: cover;
}

.hero h2 {
  padding: 88px 24px;
  margin: 0;
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .hero .hero-img {
    height: 620px;
    background: url(../img/hero-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .bottom-hero .footer-hero {
    height: 400px;
    background: url(../img/image-rodape-tablet.png) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .hero .hero-img {
    background: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .bottom-hero .footer-hero {
    height: 600px;
    background: url(../img/image-rodape-desk.png) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 120px;
  }
}

@media screen and (min-width: 1440px) {
  .hero .hero-img {
    background: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .bottom-hero .footer-hero {
    height: 600px;
    background: url(../img/image-rodape-desk.png) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 120px;
  }
}

