.card {
  color: var(--text-secondary-color);
  box-sizing: border-box;
  padding: 24px 16px;
  width: 312px;
  height: 288px;
  border-radius: 16px;
  text-align: center;
}

.card header {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0;
}

.card header p {
  font-size: 20px;
  font-weight: var(--text-weight);
}

.card h3 {
  margin: 8px 0;
  font-size: 40px;
  font-weight: var(--title-weight);
    margin-bottom: 24px;
}

.card span {
  font-size: 32px;
  margin-top: 24px;
  display: inline-block;
}

.card.japao {
  background: url(../img/bg-card-japao.jpg) no-repeat;
}

.card.san-andreas {
  background: url(../img/bg-card-san-andreas.jpg) no-repeat;
}

.card.paraiba {
  background: url(../img/bg-card-paraiba.jpg) no-repeat;
}

.card.manaus {
  background: url(../img/bg-card-manaus.jpg) no-repeat;
}

@media screen and (min-width: 1024px) {
  .card {
    width: 588px;
    height: 308px;
  }

  .card header h3 {
    font-size: 48px;
  }

  .card header span {
    font-size: 40px;
  }
}
